@import 'idea1.css';
@import 'idea2.css';
@import 'idea3.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  flex-direction: column;
  margin: 0;
  padding: 150px 150px;
  background-color: #f5f5f5;
}